.app {
  .app-header {
    background-color: #ececec;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75vh 1vw;

    a {
      display: flex;
      align-items: center;
      font-size: calc(10px + 2vh);
      text-decoration: none;
      text-transform: uppercase;

      .app-logo {
        height: 3vh;
        pointer-events: none;
      }

      .app-title {
        color: #001F36;
        font-weight: bold;
        margin: 0 1vw;
      }
    }
  }

  .app-main {
    padding: 0 1.5vw;
    text-align: center;
  }

  .app-footer {
    background-color: #001F36;

    a {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      .app-footer-logo {
        width: 10vw;
      }
    }
  }
}
