.app {
  text-align: center;

  .app-header {
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    padding: 0 2rem;
    color: white;

    .app-logo {
      height: 5vmin;
      pointer-events: none;
    }

    .app-link {
      color: #001F36;
      font-weight: bold;
      margin: 0 2rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
